<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rener.portal.dao.GoodsTypeVoMapper">

    <resultMap id="ojbk" type="com.rener.portal.model.vo.GoodsTypeVo">
        <result column="goods_type" property="goodsType"></result>
    </resultMap>


    <select id="type" resultMap="ojbk">
        SELECT DISTINCT goods_type FROM tb_goods_type
    </select>
    <select id="selectSomeType" resultMap="ojbk">
        SELECT tgt.goods_type
        FROM tb_goods_type tgt
        ORDER BY RAND() LIMIT ${number}
    </select>

    <select id="fuzzySelectType" resultMap="ojbk">
        SELECT goods_type
        FROM tb_goods_type
        WHERE INSTR(goods_type,#{types})>0
    </select>

    <select id="goodsHeatType" resultMap="ojbk">
        SELECT tgt.goods_type
        FROM tb_goods_type tgt,tb_goods tg
        WHERE tgt.goods_type_id = tg.goods_type_id ORDER BY tg.goods_heat DESC
    </select>
</mapper>