<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rener.portal.dao.TbDiscountMapper">
    <select id="findDiscountRate" parameterType="Long" resultType="Double">
        SELECT discount_rate
        from tb_discount
        where discount_id=#{discountId}
    </select>
    <select id="selectDiscountMsgByDisCountId" resultType="TbDiscount" parameterType="Long">
        SELECT * FROM tb_discount WHERE discount_id =#{discountId}
    </select>

</mapper>